<div class="jumbotron">
    <div class="container" *ngIf="items.length > 0 else PostLoading">
        <ngb-carousel (slide)="slideChange($event)">
            <ng-template ngbSlide>
                <a href="{{items[0].url}}"><img class="img-fluid" src="{{items[0].urlToImage}}" alt="Random first slide"></a>
                <div class="carousel-caption">
                    <h3>{{items[0].title}}</h3>
                    <p>{{items[0].description}}</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <a href="{{items[1].url}}"><img class="img-fluid" src="{{items[1].urlToImage}}" alt="Random first slide"></a>
                <div class="carousel-caption">
                    <h3>{{items[1].title}}</h3>
                    <p>{{items[1].description}}</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <a href="{{items[2].url}}"><img class="img-fluid" src="{{items[2].urlToImage}}" alt="Random first slide"></a>
                <div class="carousel-caption">
                    <h3>{{items[2].title}}</h3>
                    <p>{{items[2].description}}</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>

<ng-template #PostLoading>
    <div class=" d-flex justify-content-center align-items-center ">
      <img [src]="loadingSpiner ">
    </div>
  </ng-template>