<!DOCTYPE html>
<br>
<h2> Edit post </h2>
<br>

<form id="main" (ngSubmit)="onSubmitAd(f)" #f="ngForm" enctype="multipart/form-data" *ngIf="post | async as post">

  <fieldset>
    <legend>Please enter the ad details</legend>
    <ol>
      <li>
        <label for="category">Category(*)</label>
        <select name="category" id="category" required
         [(ngModel)] =  "post.category" class="form-control">
          <option value="BuyorSell">Buy or Sell</option>
          <option value="CoursesandClasses">Courses and Classes</option>
          <option value="Cars">Cars</option>
          <option value="Properties">Properties</option>
          <option value="Services">Services</option>
          <option value="Jobs">Jobs</option>
          <option value="Community">Community</option>
          <option value="Events">Events</option>
          <option value="Business Opportunities">Business Opportunities</option>
        </select>
        <div class="clear"></div>
      </li>

      <li>
        <label for="title">Headline(*)</label>
        <input id="title" [(ngModel)] =  "post.title"  class="form-control" minlength="5" maxlength="30"
        name="title" type="text" placeholder="Please enter the ad title" required>
      </li>

      <li>
        <label for="description">Description(*)
        <br>
        </label>
        <textarea id="description"  name="description" rows="10" minlength="5" maxlength="800" required
         [(ngModel)] =  "post.description" class="form-control"> </textarea>
        <br>
        <span class="sub-text" style="position:relative;left:120px">800 characters maximum</span>
      </li>

      <li>
        <label for="price">Price(*) (€):</label>
        <input id="price"  name="price" type="text" [(ngModel)] =  "post.price"
        class="form-control" minlength="1" maxlength="10" required>
      </li>
    </ol>

    <ol id="additional-fields">

      <li>
        <label for="province"> Province(*) </label>
        <select name="province"  [(ngModel)] =  "post.province" class="form-control" required>
          <option *ngFor="let prov of provinces;" [value] = prov>{{prov}}</option>
        </select>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <legend>Add new images</legend>
    <ol>
      <li>
        <input type="file"  name="images" id="images" (change)="onChange($event)" multiple="multiple" ngModel class="form-control">
        <span class="sub-text">
          You can select up to <span id="images_number">5</span> Images </span>
      </li>

      <!-- <img *ngFor="let item of url" [src]="item" alt="Preview"> -->
      <app-load-image class="images" *ngFor="let file of urls" [src]="file"></app-load-image>
    </ol>
  </fieldset>
  (*) required fields
  <fieldset>
    <button type="submit" class="btn btn-success">Submit</button>
  </fieldset>
</form>
