<div class="container-fluid">
  <div *ngIf="post | async | newPost as post else PostLoading">
    <div class="row">
      <div class="col-xs-12 col-md-5 col-lg-5">
        <app-load-image [src]="post.img"></app-load-image>
      </div>
      <div class="col-xs-12 col-md-7 col-lg-7">
        <div class="row">
          <div class="col-4 col-md-3">
            <h4>Title</h4>
          </div>
          <div class="col-3">{{post.title}}</div>
        </div>
        <div class="row">
          <div class="col-4 col-md-3">
            <h4>Category</h4>
          </div>
          <div class="col-3">{{post.category}}</div>
        </div>
        <div class="row">
          <div class="col-4 col-md-3">
            <h4>Date</h4>
          </div>
          <div class="col-3">{{post.date | date}}</div>
        </div>
        <div class="row">
          <div class="col-4 col-md-3">
            <h4>Price</h4>
          </div>
          <div class="col-3">{{post.price | removeSpaces | formatEmpty:'0' | currency:'EUR':true}}</div>
        </div>
        <div class="row">
          <div class="col-4 col-md-3">
            <h4>Province</h4>
          </div>
          <div class="col-3">{{post.province}}</div>
        </div>
        <div class="row">
          <div class="col-4 col-md-3">
            <button class="btn btn-danger" *ngIf="this.currentUser.email == this.post.user[0].email" (click)="edit()">Edit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {{post.description}}
    </div>
    <div class="image-container container-fluid mt-2">
      <div class="col-4 d-inline" *ngFor="let image of post.images">
        <app-load-image class="images" [src]="image"></app-load-image>
      </div>
    </div>
  </div>
</div>

<ng-template #PostLoading>
  <div>
    <img src="https://firebasestorage.googleapis.com/v0/b/nglx-98be4.appspot.com/o/loading.gif?alt=media&token=8a2ffb61-6356-4fbb-89c0-7045f3009832">
  </div>
</ng-template>
