form#main ol li {
  background: #f4f4f4;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  line-height: 30px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

form#main ol ol li {
  background: none;
  border: none;
  float: left;
}

h2, legend {
  color:rgb(233, 236, 239);
  font-weight: bold;
}
