img {
  max-width: 100%;
  border: 0;
}
h2 {
  text-align: center;
}

legend{
  text-align: center;
}
html,
button,
input,
select,
textarea {
  color: #222;
}


img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}




.footer-container {
  background: #f0f0f0;
  border-bottom: 20px solid #414141;
  margin-top: 30px;
}

.title {
  color: white;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  margin-bottom: 5px;
  padding: 13px 0px 8px 0px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

nav a:hover,
nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

.main {
  padding: 10px 0;
}

.main article h1 {
  font-size: 2em;
}

.main aside {
  padding: 5px 8% 10px;
}

.footer-container footer {
  color: #666666;
  padding: 20px 0;
}

.ie7 .title {
  padding-top: 20px;
}

@media screen and (max-width: 600px) {
  nav ul li {
    clear: both;
  }
  nav {
    display: none;
  }
  .main aside {
    float: left !important;
    padding-left: 0 !important;
    width: 100% !important;
  }
}

@media only screen and (min-width: 480px) {
  nav a {
    float: left;
    margin: 0 5%;
    margin-bottom: 0;
  }
  nav li:first-child a {
    margin-left: 0;
  }
  nav li:last-child a {
    margin-right: 0;
  }
  nav ul li {
    display: inline;
  }
  .oldie nav a {
    margin: 0 0.7%;
  }
}

@media only screen and (min-width: 768px) {
  .header-container {}
  .main aside {
    line-height: 1.1em;
  }

  .main article {
    float: left;
    width: 57%;
  }
  .main aside {
    float: right;
    width: 240px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 40px;
    background: #ececec;
  }
}



.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}


.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }


/*MULTI LEVEL NAVIGATION MENU*/

nav ul ul {
  display: none;
}

nav ul li:hover>ul {
  display: block;
}

nav ul {
  list-style: none;
  position: relative;
  display: inline-table;
}

nav ul:after {
  content: "";
  clear: both;
  display: block;
}

nav ul li {
  float: left;
  margin-right: 40px;
}

nav ul li:hover {}

nav ul li a {
  display: block;
  margin: 0;
}

nav ul ul {
  background: #f9f9f9;
  -webkit-box-shadow: 0 5px 10px #aaa;
  -moz-box-shadow: 0 5px 10px #aaa;
  box-shadow: 0 5px 10px #aaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  top: 100%;
  width: 220px;
}

nav ul ul li {
  border-top: 1px solid #cccccc;
  width: 100%;
  clear: both;
  position: relative;
}

nav ul ul li a {
  text-align: left;
  padding-left: 5px;
  color: #222222 !important;
}

nav ul ul li a:hover {}

nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

.bottom-menu {
  margin-top: 24px;
  list-style: none;
  display: inline-table;
  padding: 0;
}

.bottom-menu li {
  float: left;
  margin-right: 20px;
}


/* PHP LINKS DIRECTORY */

form#main {
  padding: 20px;
  width: 90%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #eaeaea;
}

form#main fieldset {
  border: none;
  margin-bottom: 25px;
}

form#main fieldset:last-of-type {
  margin-bottom: 0;
}

form#main legend {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}

form#main ol li {
  background: #f4f4f4;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  line-height: 30px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

form#main ol ol li {
  background: none;
  border: none;
  float: left;
}

form#main label {
  float: left;
  font-size: 13px;
  width: 120px;
}

form#main input:not([type=radio]),
form#main select,
form#main textarea {
  background: #ffffff;
  border: none;
  font: italic 13px Georgia, "Times New Roman", Times, serif;
  outline: none;
  padding: 5px;
  width: 72%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

form#main input:not([type=submit]):focus,
form#main textarea:focus {
  background: #eaeaea;
}

form#main input[type=radio] {
  float: left;
  margin-right: 5px;
}

form#main button {
  background: #ffcc00;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font: 18px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  float: right;
  padding: 7px 25px;
}

form#main button:hover {
  background: #DA4725;
  cursor: pointer;
}

.sub-category {
  float: left;
  margin-right: 3%;
  line-height: 1.6em;
}

.sub-category a {
  color: #5f5f5f;
}

.category_link {
  margin-bottom: 4px;
  display: block;
  font-size: 16px;
  font-weight: 700;
}

.category_link a {
  font-weight: 800;
}

.sub_category_link {
  color: #5f5f5f;
  font-size: 13px;
  text-decoration: none;
}

.sub_category_link:hover {
  text-decoration: underline;
}

.listing {
  width: 100%;
}

.listing,
.result-text a {
  color: #000000 !important;
}

.featured_listing a {
  color: #000000 !important;
}

.featured_listing {
  background: #fef0b1;
  border: 1px solid #f0a536;
  color: #000000 !important;
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}


.mselect {
  width: 140px;
  border: 0px solid black;
  text-indent: 3px;
  padding: 1px 0;
  cursor: hand;
  cursor: pointer;
}

.mselect .downimage {
  position: absolute;
  right: -25px;
}


.mselect .dropdown a {
  width: auto;
  display: block;
  border-bottom: 1px none #B4B4B4;
  padding: 1px 0;
  text-indent: 2px;
  text-decoration: none;
  color: black;
  background-color: #ffffff;
}

* html .mselect .dropdown a {
  width: 100%;
}

.mselect .dropdown a:hover {
  background: #0A246A;
  color: #ffffff;
}



.result-image {
  float: left;
  text-align: center;
  width: 20%;
  border: 3px solid #f3f3f3;
  padding: 10px;
}


.result-image img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.final-result-image {
  background: #f9f9f9;
  float: right;
  margin-left: 30px;
  margin-bottom: 20px;
  text-align: center;
  width: 320px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 3px 10px #aaa;
  -moz-box-shadow: 0 3px 10px #aaa;
  box-shadow: 0 3px 10px #aaa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

.final-result-image img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.result-text {
  width: 72%;
  float: left;
  margin-left: 30px;
}

.button-link {
  background: #ffcc00;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font: 18px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  float: right;
  padding: 7px 25px;
  text-decoration: none;
}

.button-link:hover {
  background: #eebb00;
  cursor: pointer;
  text-decoration: underline;
}

.admin_ibutton,
.ibutton,
.adminButton {
  background: #ffcc00;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font: 16px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  padding: 7px 25px;
}

.admin_ibutton:hover,
.ibutton:hover,
.adminButton:hover {
  background: #DA4725;
  cursor: pointer;
}
.white-link {
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
}

.white-link:hover {
  color: #dddddd;
  text-decoration: none;
}

.carousel-link {
  color: #ffffff;
}

.carousel-link:hover {}

#footer {
  background: #3a3a3a;
  padding: 20px;
  color: #e8e8e8;
}

#footer hr {
  border-color: #505050;
  background-color: #505050;
  color: #505050;
}

#footer a {
  color: #e8e8e8;
}


.big-button {
  background: #666666;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  font: 18px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  float: right;
  padding: 7px 25px;
}

.big-button:hover {
  background: #DA4725;
  cursor: pointer;
}

.btn-success:hover {
  background: #DA4725;
  cursor: pointer;
}
