<div class="container-fluid">
  <div *ngIf="posts.length > 0 else PostLoading">
    <ul class="list-unstyled">
      <li class="mt-2" *ngFor="let post of posts">
        <app-post [post]="post"></app-post>
      </li>
    </ul>
  </div>
  <div class="paggination">
    <app-pagination [offset]="offset" [limit]="limit" [size]="count" (pageChange)="onPageChange($event)"></app-pagination>
  </div>
</div>

<ng-template #PostLoading>
  <div class=" d-flex justify-content-center align-items-center ">
    <img [src]="loadingSpiner ">
  </div>
</ng-template>