<div class="container mb-5">
  <div *ngIf="posts | async as postList else PostLoading">
    <div class="media mt-2 p-2 row" *ngFor="let post of postList">
      <img class="d-flex mr-3 rounded col-md-3" *ngIf="!loaded" src="https://firebasestorage.googleapis.com/v0/b/nglx-98be4.appspot.com/o/loading.gif?alt=media&token=8a2ffb61-6356-4fbb-89c0-7045f3009832"/>
      <img class="d-flex mr-3 rounded col-md-3" [hidden]="!loaded" (load)="loaded = true" [src]="post.img" />
      <div class="media-body col-md-9">
        <a [routerLink]="[ '/posts', post.$key ]">
          <h5 class="mt-0">{{post.title}}</h5>
        </a>
        <p> {{post.description}}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #PostLoading>
  <div>
    <img src="https://firebasestorage.googleapis.com/v0/b/nglx-98be4.appspot.com/o/loading.gif?alt=media&token=8a2ffb61-6356-4fbb-89c0-7045f3009832">
  </div>
</ng-template>