<footer class="footer fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft">
        <div class="logofooter"> DreamPlace</div>
        <p>Everyone is looking for ideas, but we realize dreams!</p>
      </div>
      <div class="col-md-4 col-sm-6 footerleft footer-hide">
        <p><i class="fa fa-map-pin fa-lg"></i> 31, bul. Alexander Malinov - SOFIA</p>
        <p><i class="fa fa-phone fa-lg"></i> Phone (Buglaria) : +359 893 32 80 60</p>
        <p><i class="fa fa-envelope fa-lg"></i> E-mail : TheProductiveElephants@gmail.com</p>
      </div>
      <div class="col-md-4 col-sm-6 footer-icons">
        <a href="https://www.facebook.com/telerikacademy"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
        <a href="https://github.com/tdochev/TheProductiveElephants"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="col-md-6">
        <p>© 2017 - All Rights protected with DMCA</p>
      </div>
    </div>
  </div>
</footer>